.inverted{
  font-family: 'Fredoka One', cursive;
  background-color: black;
  color:whitesmoke;
}
#bikeindexsubmit{
  margin-top:100px;
  margin-bottom:100px;
}
.jumbotron{
  display:flex;
  align-items:center;
}
.orange{
  color:orange;
}

.mediumfont{
  font-size:25px;
}

.resultstitle{
  font-weight:bolder;

}
#bikesfound{
  margin-left: 10%;
  width: auto;
  padding: 10px;
}